
<GeneralContainer>
    <div class="product item-details-page"> {{!--product and item-details page are diff clases--}}
<Product::Image @src={{this.productimage}}/>
<Product::Details @color={{this.color}} @onChangeColor={{this.onChangeColor}}/>
    </div>
    <h5 class="mt-5">Features</h5>
  <ul>
    {{#each this.model.features as |feature|}}
    <li>feature</li>
    {{/each}}
  </ul>
</GeneralContainer>


 
 
